@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Architects Daughter", cursive;
}

body {
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: #63524E;
    text-align: center;
    font-weight: bold;
}

header hr {
    border-color: #ffffff;
}

header h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw; 
}

header p {
    padding-bottom: 40px;
}

header a {
    text-decoration: none;
    color: #393231;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

pre {
    white-space: pre-line;
    font-family: var(--fonte3);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
    font-size: 3vw;
}

section pre {
    padding: 2em 0px;
}

section pre {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    padding-bottom: 1em;
    box-shadow: inset 1px 1px 10px 0px rgba(0, 0, 0, 0.637);
    font-size: 30px;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.856);
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.637);
    background-size: cover; 
    background-attachment: fixed;
    font-size: 30px;
}


section.imagem pre {
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.548);
    text-shadow: 1px 1px 0px black;
    border-radius: 7px;
}

#img1 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

#img2 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

footer p {
    background-image: linear-gradient(to left, #ebc416, #8a5b04);
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}